<% include partials/header %>

<div id="landing-header" class="container">
	<!-- <h1>Find an INSTRUCTOR <span style="color: #d30f10">near</span> You!</h1> -->
	<h1>Find an INSTRUCTOR <span id="typed"></span></h1>
	<!--
		... nearby
		... close to You
		... in your area
	-->

	<div id="typed-strings">
		<p><a href="#"><span style="color: #d30f10">near</span> you!</a></p>
		<p><a href="#"><span style="color: #d30f10">online</span>!</a></p>
		<!-- <p><a href="#">MS Excel</a></p>
		<p><a href="#">Business Intelligence</a></p>
		<p><a href="#">Visual Basic</a></p>
		<p><a href="#">Google Docs</a></p> -->
	</div>
	<!-- <h3>Learn <span id="typed"></span> with the best Experts</h3> -->
	
	<hr>
	<form action="" method="get" accept-charset="utf-8" class="col-10">
		<div class="form-row">	
			<div class="col-lg-5 col-sm-12">
				<input list="courses" placeholder="What do you want to learn?"  class="form-control-lg col-12">
				<datalist id="courses">
				  <option value="MS Excel">
				  <option value="MS Word">
				  <option value="Other MS Office courses">
				  <option value="Business Intelligence">
				  <option value="VBA (Visual Basic for Applications)">
				  <option value="Google Docs">
				</datalist>
				
			</div>	
			<div class="col">
				<input list="cities" placeholder="City or country" class="form-control-lg">
				<datalist id="cities">
				  <optgroup label="Europe">
					  <option value="Warsaw">
					  <option value="London">
					  <option value="Dublin">
				  </optgroup>
				  <optgroup label="United States">
					  <option value="New York">
					  <option value="Los Angeles">
					  <option value="Chicago">
				  </optgroup>
				</datalist>
			</div>	
			<div class="col">
				<a href="/trainings" class="btn btn-lg btn-danger"><i class="fa fa-search fa-lg" aria-hidden="true"></i><!-- See Our Trainings --> Find an Instructor</a>
			</div>
		</div>
	</form>
	<script>
		var typed = new Typed('#typed', {
			stringsElement: '#typed-strings',
			typeSpeed: 70,
			loop: true,
			backDelay: 1000,
			showCursor: false
		});
	</script>

</div>
	<section id="benefits" class="bg-white">
		<div class="container">
			<div class="row">
				<div class="col-sm-3">
					<h4><i class="fa fa-address-book"></i> <!-- <i class="fa fa-id-badge"></i> --> Choose an Instructor</h4>
					<p>Search our selected Experts using they fees, specializations, locations and user reviews.</p>
				</div>
				<div class="col-sm-3">
					<h4><i class="fa fa-calendar"></i> Select prefered dates</h4>
					<p>Tell your instructor When, Where and How do you want to learn. Get response directly.</p>
				</div>
				<div class="col-sm-3">
					<h4><i class="fa fa-child"></i><!-- <i class="fa fa-check-square"></i> --> Personalize a training</h4>
					<p>Fill a knowledge & needs assesment to get personalized qotation in 5 minuts. Decide and pay online.</p>
				</div>
				<div class="col-sm-3">
					<h4><i class="fa fa-thumbs-up"></i><!-- <i class="fa fa-level-up"></i> --> Make a progress</h4>
					<p>Take a training, <!-- benchmark yourself --> measure & compare your skills, share certificate and <!-- ask questions --> get online support after your course.</p>
				</div>
			</div>
		</div>
	</section>
<ul class="slideshow">
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
</ul>

<% // include partials/footer %>