<% include ../partials/header %>

<div class="container"> <!-- Bootstrap class for grid container -->
		
	<header id="header" class="jumbotron"> <!-- Bootstrap class for nice headers -->
			<iframe width="500" height="300" src="https://www.youtube.com/embed/hOzEKQRbLHk?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
		<div class="container">	
			<h1 class="display-4"><span class="fa fa-graduation-cap"></span>Are You a Trainer?</h1>
			<p class="lead">Join our team of professionals and boost Your incomes!<br>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
			<p>
				<a class="btn btn-primary btn-lg" href="/trainings/new">Add a New Training</a>
			</p>
		</div>
	</header>

	<div class="row">
		<div class="col-lg-12">
			<h3>List of our Trainings:</h3>
		</div>
		<div class="card-deck">
			<% trainings.forEach(function(training) { %>
				<div class="card">
					<!-- _id = automaticaly generated MongoDB object id -->
					<a href="/trainings/<%= training._id %>">
						<img class="card-img-top" src="<%= training.image %>">
						<div class="card-body">
							<h5 class="card-title"><%= training.name %></h5></a>
							<p><%= training.shortDesc %></p>
						</div>
					
				</div>
			<% }); %>
		</div>
	</div>
</div>

<% include ../partials/footer %>